---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import config from "@/config/config.json";

const { logo } = config.site;
const entry = await getEntryBySlug("pages", "404");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
    <section class="section">
        <div class="container">
            <div class="flex h-[40vh] items-center justify-center">
                <div class="text-center">
                    <Image
            src="/images/logo.png"
            class="mb-4 inline"
            alt="logo"
            width={380}
            height={90}
          />
                    <!-- <h1 class="mb-4" set:html={markdownify(entry.data.title)} /> -->
                    <Content />
                    <a href="/" class="btn btn-primary mt-4">
                        Volver al inicio
                    </a>
                </div>
            </div>
        </div>
    </section>
</Base>
